body {
	width: 940px;
	background-color: #F5F5F5;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0.2em 0.25em;
	margin-left:auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 1.5;
}

.sobre {

	width: 500px;
	height: 150px;
	left: 0px;
	top: 0px;

font-family: 'Inter';
font-style: normal;
color: #000000;

}

.titulo {
	color: #3D3D3D;
	padding: 0px;
	border-bottom-style:solid;
	border-bottom: 5px  black;
	Width:509px;
	Height: 118px;
	top: 295px;
	left: 67px;
	font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 155px;
display: flex;
align-items: center;


}

.subtitulo {
	border-bottom: 6px  black;
	border-bottom-style:solid;
font-family: 'Inter';
font-style:italic;
font-weight: 100;
font-size: 40px;
line-height: 61px;
padding: 0.5px;
}
.descricao{
	border-bottom-style:solid;
	border-bottom: 6px  black;
}	
	


img {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }

  figure {
	padding: 15px;
	margin-left: 30px;
  }
  

.figure-1 {
	position: absolute;
width: 500px;
height: 445px;
left: 680px;
top: 100px;

}
#h{
	border-bottom-style:solid;
}
.figure-2 {
    
    float:left;
	width: 280px;
height: 240px;
left: 50px;
top: 60px;
}

  figure figcaption {
	color: #D3D3D3;
    text-align: center;
	background-color: #F5F5F5;
	padding-top: 10px;
}

.container {
	width: 94%;
	margin: 0 auto;}


a {
	text-decoration: none;	
}

.cabecalhoPrincipal {
	background-color: #5da05d;
	padding: 0.05px 0;
}

.cabecalhoPrincipal-logo {
	padding-bottom: 30px;
	background-color: #5da05d;
	
}

.cabecalhoPrincipal-titulo a {
	text-decoration: none;
	color: inherit;
}


.cabecalhoPrincipal-nav-link {
	padding: 15px;
	margin: 15px;
	margin-bottom: 10px;
	color: white;
	background-color: rgb(33, 30, 231);
	text-decoration:none;
	transition: .5s;
	display: block;
	border-radius: 4em;
	border-bottom: 1px #9799A6;
}

footer {
	background-color: #e4dcf5;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
  }