.produtos {
    background-color: rgb(111, 111, 230);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 2em;
    flex-wrap: wrap;
}

.botao {
    margin-left: 1.42em;
    border-radius: 6px;
    
    text-transform: uppercase;
    color:rgb(0, 0, 0);
    margin-right: 1em;
    padding: 1em 50px;
    float:right;
    position: absolute;
width: 200px;
height: 100px;
left: 800px;
top: 335px;
text-align: center;
background: #8f3ef9;
border-radius: 50px;
    
}

.botao:hover{
    transition: 1s;
    background: rebeccapurple;
}

.produtos_chamada {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    align-self: left;
    width: 300px;
}

.produtos_item {
    border: 0.5px solid whitesmoke;
    border-radius: 0.5px;
    background-color:#F9C73E;
    width: 200px;
    height: 100px;
    display: flex;
    text-align:right;
    left: 700px;
top: 10px;
border-radius: 10px
 font-size: 10px;
 font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;


}

.produtos_lista {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-template-areas:
        " destaque . ."
        " destaque . .";
    gap:20px;
    padding: 1em;
    
    
}

.produto-destaque {
    grid-area: destaque;
    height: 420px;
}

.chamada_titulo {
    font-size: 1.5em;
    padding-bottom: 0.5em;
